<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jssmx.manage.mapper.system.ButtonMapper">

    <select id="listAllQxNameByRoleId" parameterType="string" resultType="button">
        select
          qx_name qxName
        from
          sys_role_button rb
        left join
          sys_button b
        on
          b.id=rb.button_id
        where
          rb.role_id=#{roleId}
    </select>

</mapper>